<div class = header> <h1> CATEGORY LIST <h1> </div>

<% if user_signed_in? %>
  <%= button_to "Sign Out", destroy_user_session_path, method: :delete %>
<% else %>
  <%= button_to "Sign In", user_session_path %>
<% end %>

<ul>
  <% @categories.each do |category| %>
      <li class = "category_name">
        <%= link_to category.name, category %>
      </li>
    
    <p class ="description"><em><%= category.description %></em></p>

    <p>Number of articles: <%= category.articles.count %></p>
    
  <% end %>
</ul>

<%= link_to "New Category", new_category_path %><br>
<%= link_to "New Article", new_article_path %>
<%= link_to "New Author", new_author_path %>