<%= form_with model: @article do |form| %>
    <div>
      <%= form.label :title %><br>
      <%= form.text_field :title %>
      <% article.errors.full_messages_for(:title).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  
    <div>
      <%= form.label :body %><br>
      <%= form.text_area :body %><br>
      <% article.errors.full_messages_for(:body).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div>
        <%= form.label :category %><br>
        <%= form.select :category_id, @categories.collect { |c| [c.name, c.id] }, prompt: "Select a Category" %>
    <div>
    <div>
        <%= form.label :author %><br>
        <%= form.select :author_id, @author.collect { |c| [c.name, c.id] }, prompt: "Select a Author" %>
    <div>
      <%= form.submit %>
    </div>
  <% end %>