<% content_for :javascript do %>
  <script type="module">
    import "add_jquery";
  </script>
  <% end %>

<h1 class = header><%= @article.title %></h1>

<div id="article-content">
<em><p class = description><%= @article.body %></p></em>



<ul>
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
  <li><%= link_to "Destroy", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>

<h2>Comments</h2>

<div id="comments">
<!-- append here -->
</div>

<button id="load-comments" 
        data-article="<%= @article.id %>" 
        data-category="<%= @article.category.id %>">
  Load More Comments
</button>

<h2>Add a comment:</h2>
<%= render "comments/form", article: @article %>
</div>


<%= link_to "Home", root_path %>

<button id = "toggle-content-button"> Hide Content </button>