<h1>New Author</h1>

<%= form_with model: @author do |form| %>

  
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
<br>
  <div class="form-group">
    <%= form.label :bio %>
    <%= form.text_area :bio %>
  </div>
<br>
  <%= form.submit "Create Author" %>
<% end %>